h1
{
    background-color:whitesmoke;
    color: black;
    max-width: 300;
}
h2
{
    color: gray;
    max-width: 300;
}
div
{
    color:red;
    font-family: 'Lucida Sans';
}
body
{
    color:#333333;
    max-width: 650px;
    font-family: Arial;
    margin:0 auto;
    padding: 0 16px;

    flex-direction: column;
    display: flex;
    min-height: 100vh;

}

img 
{
    width: 300px;

}

footer
{
    color: gainsboro;
    border-top: 1px solid red;
    margin-top: 16px;
    padding: 16px 0;
}

header
{
    margin-top: 16px;
    margin-bottom: 80px;
    color: #505515;

}
.headerlose
{
    flex-grow: 1;
}