<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/imagem/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script> 
    </head>
    <body>
        <div class="headerlose">
            {{>header}}    
        </div>
        {{errorMessage}}
        <div>
            {{>footer}}    
        </div>
        
    </body>
        
</html>