<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/imagem/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="headerlose">
            {{>header}}
            <p>Esse site foi criado por Maurilio</p>
        </div>
        
        <div>
            {{>footer}}
        </div>
    </body>
</html>