<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/imagem/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
          <div class="headerlose">
            {{>header}}
        </div>
        
        <div>
            {{>footer}}
        </div>
    </body>
</html>