<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/imagem/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="headerlose">
            {{>header}}
            <p>Use this site to get your Weather</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="menssage-1"></p>
            <p id="menssage-2"></p>
        </div>
        <div> 
            {{>footer}}
            <script src="./js/app.js"></script> 
        </div>
    </body>

</html>